@import "tailwindcss";

:root {
  --background: rgb(255, 255, 255);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(240, 240, 240);
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo-img {
  height: 40px;
  width: 45px;
  background-color: black;
  padding: 2px;
  border-radius: 5px;
}

.logo-name {
  font-size: 24px;
  font-weight: 900;
  font-style: italic;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.collab-butt {
  background-color: black;
  color: white;
  padding: 12px 25px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 700;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.content-container {
  padding: 50px 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
  width: 100%;
}

.my-profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.intro {
  font-size: 80px;
  font-weight: 700;
  line-height: 1.1;
}

.desc {
  font-size: 18px;
}

.contact {
  background-color: black;
  text-wrap: wrap;
  color: white;
  padding: 12px 25px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 700;
}

.publicity {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.images {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.profile-img,
.github-profile {
  border-radius: 15px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socials-container {
  display: flex;
  flex-direction: column;
  height: 195px;
  width: 180px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 2px solid red;
  border-radius: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.socials-butt {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 999px;
  height: 40px;
  width: 40px;
}
